main#full-cart {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;

    color: $text-dark-grey;
    h1 {
        margin-top: 50px;
        font: 28px/1 $futura-light;
        text-transform: uppercase;
        color: $sherpa-red;
    }

    section#mobile-top-btn {
        margin-bottom: 22px;

        p {
            font-size: 22px;
            line-height: 1;
            float: right;
            text-align: right;
            order: 2;

            span {
                display: block;
                font-size: 12px;
                line-height: 1.5;
            }
        }

        .btn {
            width: 50%;

            span.long-btn-txt {
                display: none;
            }
        }
        .additional-payment {
            width: 50%;
            span {
                background: $white;
            }
        }
    }

    section#items {
        width: 100%;

        > article {
            padding-right: 2%;
        }

        article.headings {
            display: none;
            border-top: 1px solid $text-light-grey;

            > h4 {
                font: 9px/34px $font-myriad-pro;
                white-space: nowrap;

                &:first-child {
                    padding-left: 1.5%;
                }
                &:nth-child(2) {
                    text-align: center;
                }
                &:nth-child(3) {
                    text-align: right;
                }
                &:last-child {
                    text-align: right;
                }
            }

            > h4 {
                &:first-child {flex-basis: 52%;}
                &:nth-child(2) {flex-basis: 16%;}
                &:nth-child(3) {flex-basis: 16%;}
                &:last-child {flex-basis: 16%;}
            }
        }

        article.itm {
            border-top: 1px solid $text-light-grey;
            padding-top: 10px;
            padding-bottom: 10px;
            position: relative;
            overflow: hidden; // clear the float

            img.mobile-close-btn {
                display: block;
                position: absolute;
                right: 5px;
                top: 5px;
            }




            div.img {width: 30%;float: left;}
            div.dsc {width: 65%;float: left;}
            div.qty {width: 25%;float: left;margin:14px 0 0 5px;}
            div.prc {
                width:0;
                display: none;
                .strike {
                    color: $error-red;
                    text-decoration: line-through;
                }
            }
            div.sbt {
                width: 25%;
                float: right;
                margin:14px 5% 0 0;
                .strike {
                    color: $error-red;
                    text-decoration: line-through;
                }
            }

            div.img {
                height: auto;

                img {
                    width: 100%;
                    display: block;
                }
            }
            div.dsc {
                padding: 0 12px 0 6px;

                h5 {
                    font: 11px/1 $futura-heavy;
                    font-weight: bold;
                    text-transform: uppercase;
                    margin: 0;
                    @media (min-width: $mobile) {
                        font-size: 13px;
                    }

                }

                h6 {
                    color: $text-light-mid-grey;
                    font: 10px/1.2 $futura-light;
                    margin: 3px 0 6px;
                }

                p {
                    font: 11px $futura-medium;
                    line-height: 1.5;
                    display: inline;
                    margin-bottom: 0;
                    label {
                        display: none;
                        font-weight: normal;
                    }

                    &:not(:first-of-type):before {
                        content: ' | ';
                        padding: 0 3px;
                    }

                    &.pants-length:before {
                        content: ' x ';
                        padding: 0;
                    }
                }
            }

            div.qty {
                text-align: left;
                @media (min-width: $mobile) {
                    margin-top: 40px;
                }
                ul.quantity {
                    display: flex;
                    max-width: 96px;
                    min-width: 62px;
                    width: 100%;
                    height: 22px;
                    margin: 1px 0 0;
                    border-top: 1px solid $border-grey;
                    border-bottom: 1px solid $border-grey;

                    > li {
                        margin: 0;
                        position: static;

                        &:first-child, &:last-child {
                            width: 25.83%;
                            height: 100%;
                            background-color: $off-white;
                            border-left: 1px solid $border-grey;
                            border-right: 1px solid $border-grey;

                            > a {
                                width: 100%;
                                height: 100%;
                                border: 0;
                            }
                        }
                        &:nth-child(2) {
                            width: 48.35%;
                            height: 100%;
                            input {
                                width: 100%;
                                height: 100%;
                                border: 0;
                                font-size: 12px;
                            }
                        }
                    }

                }

                input.rmv {
                    margin: 0;
                    font: 10px/1 $futura-medium;
                    text-indent: -99999px;
                    color: $text-light-mid-grey;
                    position: absolute;
                    top: 7px;
                    right: 3px;
                    width: 10px;
                    height: 10px;
                    cursor: pointer;
                    border: none;
                    &:hover {
                        text-decoration: underline;
                    }
                }

            }
            div.sbt {
                @media (min-width: $mobile) {
                    margin-top: 40px;
                }
            }
            div.prc, div.sbt {
                text-align: right;

                p {
                    font: 12px/25px $futura-medium;
                }

            }
        }
    }

    aside#summary {
        width: 100%;
        max-width: 500px;
        margin: 30px auto 10px;

        h6.heading {
            text-align: center;
            font:18px/1 $futura-heavy;
            letter-spacing: 0.5px;
            background: #f8f4ed;
            text-transform: uppercase;
            font-weight: bold;
            padding: 15px;
            border-bottom: 2px solid #fff;
            margin-bottom: -2px;
            color: #47443d;
            display: block;
            margin-top: 0;
            span {
                font-weight: normal;
                text-transform: none;
                font: 18px/1 $futura-light;
                white-space: nowrap;
            }
        }

        section {
            background-color: $light-grey;
            padding: 18px 4% 33px;
            border: 1px solid #f8f4ed;

            > p.subtotal {
                font:14px/1  $futura-heavy;
                color: $text-dark-grey;
                padding: 0 2% 0 1%;
                margin: 24px auto 22px;
                max-width: 322px;
                text-transform: uppercase;
                font-weight: bold;

                span {
                    font: 24px $futura-heavy;
                    font-weight: inherit;
                    font-size: 22px;
                    float: right;
                    position: relative;
                    bottom: 7px;
                }
            }
            .btn {
                margin:0 auto;
                max-width: 312px;
                width: 100%;
            }
        }



        h6.promo-code {
            text-align: center;
            font: 18px/1 $futura-heavy;
            color: $text-dark-grey;
            margin: 23px 1% 0;
            font-weight: bold;

            span {
                display: block;
                font: 18px/1.5 $futura-light;
                letter-spacing: 0;
            }
            h2 {
                font-size: 24px;
                text-transform: uppercase;
            }
            h3 {
                font-size: 18px;
                text-transform: uppercase;
            }
            h4 {
                font-size: 53px;
                text-transform: uppercase;
            }
            hr {
                border-top: 1px solid #333;
                width: 50px;
            }
        }

    }

    .additional-payment {
        margin-top: 15px;
        text-align: center;
        input {
            padding-top: 7px;
            width: 100%;
            max-width: 234px;
        }
        hr {
            border-bottom: 1px solid $text-mid-grey;
            margin: -7px auto 10px;
            width: 120px;
        }
        span {
            background: $light-grey;
            font-family: $futura-light;
            padding: 9px;
            text-transform: uppercase;
        }
    }

    section#also {
        h2 {
            font: 27px/72px $futura-heavy;
            text-align: center;
            letter-spacing: 1px;
            margin: 35px 0 15px;
            border-bottom: 1px solid $text-light-grey;
        }
    }
}

h6.free-shipping {
    margin: 0 1px;
    padding: 23px 0;
    border-bottom: 1px solid $text-light-grey;
    text-align: center;
    font-size: 18px;
    font-family: $futura-light;
    font-weight: bold;
    color: #666;
    span a {
        color: $sherpa-red;
        font-weight: normal;
        padding-top: 5px;
        display: block;
        &:hover {
            color: $sherpa-red;
        }
    }
}

p.cust-serv {
    margin: 0;
    padding: 23px 0 10px;
    text-align: center;
    font-size: 18px;
    font-family: $futura-light;
    font-weight: bold;
    color: #666;
    span {
        font-weight: normal;
    }
    a {
        font-weight: normal;
        color: $sherpa-red;
        padding-top: 5px;
        display: block;
        &:hover {
            color: $sherpa-red;
        }
    }
    #apo-fpo {
        cursor: pointer;
    }
}

// 550
@media (min-width: $mobile-wide) {
    main#full-cart {
        section#mobile-top-btn {
            p {
                font-size: 24px;
                span {
                    font-size: 14px;
                }
            }
            .btn {
                span.long-btn-txt {
                    display: inline;
                }
            }
        }
        section.cc {
            section#empty {
                a {
                    color: $white;
                }
            }
            section#items {

                article.headings {
                    display: flex;
                    > h4 {font-size:11px;}

                    > h4 {
                        &:first-child {flex-basis: 57%;}
                        &:nth-child(2) {flex-basis: 18%;}
                        &:nth-child(3) {flex-basis: 11%;}
                        &:last-child {flex-basis: 14%;}
                    }
                }
                article.itm {
                    display: flex;
                    flex-wrap: nowrap;

                    img.mobile-close-btn {
                        display: none;
                    }

                    div.img {flex-basis: 23%;}
                    div.dsc {flex-basis: 34%;}
                    div.qty {flex-basis: 18%;margin: 0;}
                    div.prc {flex-basis: 11%; display: block;}
                    div.sbt {flex-basis: 14%;margin: 0;}

                    div.dsc {
                        padding: 6px;

                        p {
                            display: block;
                            border: 0;
                            padding: 0;

                            label {
                                display: inline;
                            }
                            &:not(:first-of-type):before {
                                content: '';
                                padding: 0;
                            }
                        }
                    }

                    div.qty {
                        text-align: center;
                        p {
                            font-family: $futura-medium;
                            line-height: 31px;
                        }
                        ul.quantity {
                            width: 80%;
                            max-width: 120px;
                            margin: 1px auto 0;
                        }

                        input.rmv {
                            position: static;
                            text-indent: 0;
                            margin: 15px auto 0;
                            display: inline-block;
                            background: none;
                            width: auto;
                            height: auto;
                        }
                    }
                }
            }
        }
    }
}


// 700
@media (min-width: $tablet) {
    main#full-cart {
        width: 98%;

        section#mobile-top-btn {
            display: none;
        }

        section.cc {
            flex-direction: row;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            width: 100%;
            section#items {
                width: 66%;

                article.headings {
                    > h4 {
                        font-size: 12px;
                        font-weight: bold;
                        text-transform: uppercase;
                    }
                }
            }

            aside#summary {
                width: 29%;
                margin: 0;
                .btn {
                    span.long-btn-txt {display: none;}
                }

                &.sticky {
                    position: fixed;
                    top: 0;
                    right: 1%;
                    width: 28.5%;
                }
            }
        }
    }

}




// 1000
@media (min-width: $laptop) {
    main#full-cart {
        section.cc {
            section#items {
                article.headings {
                    > h4 {
                        font-size: 14px;
                    }
                }
                article.itm {
                    div.dsc {
                        padding: 8px;
                        h5 {
                            font-size:15px;
                        }
                        h6 {font-size: 12px;}
                        p {font-size: 13px;}
                    }
                    div.qty {
                        ul.quantity {
                            height: 29px;

                            > li {
                                &:nth-child(2) {
                                    input {
                                        font-size: 14px;
                                    }
                                }
                            }
                        }
                    }
                    div.prc, div.sbt {
                        p {
                            font-size: 14px;
                            line-height: 31px;
                        }
                    }
                }
            }

            aside#summary {

                section {
                    .btn {
                        span.long-btn-txt {display: inline;}
                    }
                }

            }
        }

    }
}


// 1200
@media (min-width: $inner-wrapper) {
    main#full-cart {
        section.cc {
            aside#summary {
                //h6.free-shipping {
                //    font-size: 19px;
                //}

                //&.sticky {
                //    width: 348px;
                //    right: auto;
                //    left: 50%;
                //    margin-left: 252px;
                //}
            }
        }
    }
}


@media (min-width: 1240px) {
    main#full-cart {
        section.cc {
            aside#summary {
                h6.free-shipping {
                    font-size: 19px;
                }

                &.sticky {
                    width: 348px;
                    right: auto;
                    left: 50%;
                    margin-left: 252px;
                }
            }
        }
    }
}


@media (min-width: $wrapper) {
    main#full-cart {
        width: 100%;
    }
}


// Minicart
.mini_cart {
    display: none;
    width: 340px;
    background: $white;
    box-shadow: 1px 13px 21px -10px rgba(0, 0, 0, 0.35);
    text-align: left;
    position: absolute;
    top: 31px;
    right: 17px;
    z-index: 500;
    p.items {
        border-bottom: 1px solid $medium-grey;
        color: $text-black;
        display: block;
        margin-bottom: 0;
        padding: 10px;
        text-align: center;
        text-transform: uppercase;
        font-family: $font-burin-roman-std;
    }
    .item_box {
        padding: 5px 0;
        width: 100%;
        position: relative;
        border-bottom: 1px $medium-grey solid;
        @media (min-width: $tablet) {
            padding: 5px 0;
        }
        img {
            display: inline-block;
            width: 30%;
            margin-right: 4px;
            @media (min-width: $tablet) {
                display: inline-block;
                margin-right: 4px;
                margin-left: 5px;
            }
        }
        .item_size {
            padding: 0;
            display: inline-block;
            text-transform: capitalize;
            color: $text-black;
            width: 66%;
            text-align: left;
            @media (min-width: $tablet) {
                display: inline-block;
            }
            h4.item_title {
                font-weight: bold !important;
                margin-bottom: 4px;
                margin-top: 5px;
                font: 15px/1 $font-myriad-pro;
            }
            p {
                font-size: 13px;
                line-height: 1.25;
                margin-bottom: 0;
            }
            .price {
                position: absolute;
                bottom: 10px;
                right: 10px;
                &.strike {
                    color: darkred;
                    text-decoration: line-through;
                    bottom: 25px;
                }
            }
        }
    }
    img {
        vertical-align: top;
    }
    .button_block {
        text-align: center;
    }
    .btn {
        width: 75%;
        margin: 0 auto;
    }
}