// Our variables
$filter-text: #454044;
$dk-brown: #46443F;
$lt-grey: #CFC8BA;
$noble-gold: #C6AA76;
$orange: #F5A623;
$sherpa-red: #B62231;

$text-white: rgb(254,254,254);
$text-black: #47443D;
$text-grey: #9B9B9B;

$light-grey: #f5f4f2;
$medium-grey: #D7D7D7;
$grey: #6B6B6B;
$dark-grey: #333333;

$error-red: #970400;
$white: #FFFFFF;
$black: #000000;

$font-burin-roman-std: 'Burin Roman Std','Times New Roman',serif;
$font-burin-roman-alt: 'Burin Roman Alt','Times New Roman',serif;
$font-handle-old-style: 'Handle Old Style','Times New Roman',serif;
$font-handle-old-style-alt: 'Handle Old Style Alt','Times New Roman',serif;
$font-times-new-roman: TimesNewRoman,Times New Roman,Times,Baskerville,Georgia,serif;
$font-myriad-pro: 'myriad-pro',sans-serif;
$font-georgia-std: Georgia, 'Times New Roman', Times, serif;

// FT Variables inherited
$light-blue: #C6AA76;
$dark-blue: #C6AA76;
$hover-blue: #C6AA76;
$off-white: #F5F5F5;

$text-light-grey: #CCCCCC;
$text-light-mid-grey: #999999;
$text-mid-grey: #666666;
$text-dark-grey: #333333;

$ft-green: #a29958;
$border-grey: #dadada;


$futura-medium: 'Burin Roman Std','Times New Roman',serif;
$futura-light: 'Burin Roman Std','Times New Roman',serif;
$futura-heavy: 'myriad-pro',sans-serif;

